@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --company-blue: #0f4a7b;
  --company-red: #ea5566;
}

.company-blue-bg {
  background-color: var(--company-blue);
}
.company-blue-text {
  color: var(--company-blue);
}
.company-red-text {
  color: var(--company-red);
}
.company-red-bg {
  background-color: var(--company-red);
}
.company-red-border {
  border-color: var(--company-red);
}
.company-blue-border {
  border-color: var(--company-blue);
}
body {
  background-color: #e5e5e5;
}

.modal-bg-color {
  background-color: #f9fbfd;
}

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thin-border {
  border: 0.5px solid #0f4a7b;
}
